{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container p-2">
        <h3 class="text-3xl text-gray-700 font-medium">Delete User</h3>
    </div>
    <div class="max-w-2xl p-2">
        <form action="." method="POST">
            {% csrf_token %}
            <p>
                Are you sure you want to remove user <b>{{ object.username }}</b> ({{ object.get_full_name }})?
            </p>
            <button type="submit" class="btn btn-danger mt-3">Confirm</button>
        </form>
    </div>
{% endblock %}
