{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container border-b-2 p-2">
        <a href="{% url 'node-list' %}" type="button" class="btn-create">BACK TO NODES</a>
        <h3 class="text-gray-600">Remove Node</h3>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <p>
            Remove node <b>{{ object.name }}</b>
        </p>
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
{% endblock %}
