{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container p-2">
        <h3 class="text-3xl text-gray-700 font-medium">Remove Node</h3>
    </div>
    <div class="max-w-2xl p-2">
        <form action="." method="post">
            {% csrf_token %}
            <p>
                Are you sure you want to remove node <b>{{ object.name }}</b> ?
            </p>
            <button type="submit" class="btn btn-danger mt-2">Confirm</button>
        </form>
    </div>
{% endblock %}
