{% extends 'core/base2.html' %}
{% block content %}
    <div class="fixed end-6 bottom-6 group">
        <a href="{% url 'node-create' %}"
           class="btn-primary rounded-full w-14 h-14 items-center justify-center flex px-0 py-0">
            <span class="mdi mdi-plus text-3xl"></span>
        </a>
    </div>
    <div class="container p-2">
        <h3 class="text-3xl text-gray-700">Nodes</h3>
    </div>
    <div class="not-format mt-4 relative overflow-x-auto rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-sm font-bold uppercase text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 w-10">
                        <div class="flex items-center">
                            <input id="checkbox-all-search"
                                   type="checkbox"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Host</th>
                    <th scope="col" class="px-6 py-3">Port</th>
                    <th scope="col" class="px-6 py-3">Use SSH</th>
                    <th scope="col" class="px-6 py-3">Secret</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for node in node_list %}
                    <tr class="default-table-row">
                        <td class="px-6 py-4 text-gray-900 dark:text-white rounded-s-xl">
                            <div class="flex items-center">
                                <input id="checkbox-table-search-1"
                                       type="checkbox"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <th scope="row"
                            class="flex items-center px-6 py-4 text-gray-600 whitespace-nowrap dark:text-white">
                            <div>
                                <div class="text-base font-semibold">{{ node.name }}</div>
                                <small>{{ node.id }}</small>
                            </div>
                        </th>
                        <td class="px-6 py-4">{{ node.host }}</td>
                        <td class="px-6 py-4">{{ node.port }}</td>
                        <td class="px-6 py-4">{{ node.use_ssh }}</td>
                        <td class="px-6 py-4">{{ node.secret }}</td>
                        <td class="px-6 py-4">
                            <a href="{% url 'node-delete' node.id %}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><span class="mdi mdi-trash-can-outline mdi-18px"></span></a>
                            <a href="{% url 'node-update' node.id %}"
                               class="ms-2 font-medium text-blue-600 dark:text-blue-500 hover:underline"><span class="mdi mdi-pencil mdi-18px"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
