{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <link href="{% static 'output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-white p-5">
        <div class="antialiased bg-white dark:bg-gray-900 2xl:container mx-auto">
            <div class="max-w-none format border-2 border-gray-200 flex-1 rounded-xl dark:border-gray-600 p-5 bg-gray-100 bg-opacity-20 h-[calc(100vh-40px)]">
                <div class="float-right">
                    <a href="/">Schedules</a> |
                    <a href="/history/">History</a> |
                    <a href="/node/">Nodes</a> |
                    <a href="/credential/">Credentials</a> |
                    <a href="/member/">Members</a>
                </div>
                <h1>CRONTAINER</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
