{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <link href="{% static 'output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gray-100 p-5">
        <div class="antialiased">
            <div class="max-w-none format border-2 border-gray-300 flex-1 rounded-xl dark:border-gray-600 p-5 bg-white h-[calc(100vh-40px)]">
                <div class="float-right">
                    <a href="{% url 'schedule-list' %}">Schedules</a> |
                    <a href="{% url 'job-list' %}">Jobs</a> |
                    <a href="{% url 'credential-list' %}">Credentials</a> |
                    <a href="/credential/">Docs</a>
                </div>
                <h1>CRONTAINER</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
