{% extends 'core/base2.html' %}
{% block content %}
    <div class="fixed end-6 bottom-6 group">
        <a href="{% url 'credential-create' %}"
           class="btn-primary rounded-full w-14 h-14 items-center justify-center flex px-0 py-0">
            <span class="mdi mdi-plus text-3xl"></span>
        </a>
    </div>
    <div class="container p-2">
        <h3 class="text-3xl text-gray-600 font-bold">Credentials</h3>
    </div>
    <div class="not-format mt-4 relative overflow-x-auto rounded-lg">
        <table class=" w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-sm font-bold uppercase text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Category</th>
                    <th scope="col" class="px-6 py-3">Username</th>
                    <th scope="col" class="px-6 py-3">Schedules</th>
                    <th scope="col" class="px-6 py-3 w-36">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for credential in object_list %}
                    <tr class="default-table-row">
                        <td class="px-6 py-4 text-gray-900 dark:text-white rounded-s-xl">
                            <div class="">
                                <div class="text-base font-semibold">{{ credential.name }}</div>
                            </div>
                        </td>
                        <td class="px-6 py-4">{{ credential.get_category_display }}</td>
                        <td class="px-6 py-4">{{ credential.username }}</td>
                        <td class="px-6 py-4">{{ credential.schedule_set.count }}</td>
                        <td class="px-6 py-4 rounded-e-xl">
                            <a href="{% url 'credential-delete' credential.id %}"
                               class="btn-mini-remove">
                                <span class="mdi mdi-trash-can-outline mdi-18px"></span>
                            </a>
                            <a href="{% url 'credential-update' credential.id %}?category={{ credential.category }}"
                               class="btn-mini-edit">
                                <span class="mdi mdi-pencil mdi-18px"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
