{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container border-b-2 p-2 shadow-sm">
        <a href="{% url 'credential-list' %}" type="button" class="btn-create">BACK TO CREDENTIALS</a>
        <h3 class="text-gray-600">Remove Credentials</h3>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <p>
            Remove credential <b>{{ object.name }}</b>
        </p>
        {% if related_schedules %}
            <p>This credential is used in the following schedules:</p>
            <ul class="divide-y">
                {% for schedule in related_schedules %}
                    <li class="w-1/2 {% if not forloop.first %}pt-2.5{% endif %}">{{ schedule.name }}</li>
                {% endfor %}
            </ul>
            <div class="mb-2">
                {{ form.agreement|add_class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" }}
                {{ form.agreement.label }}
            </div>
        {% endif %}
        <button type="submit"
                {% if related_schedules %} disabled class="btn btn-disabled" {% else %} class="btn btn-danger" {% endif %}>
            Confirm
        </button>
    </form>
{% endblock %}
{% if related_schedules %}
    {% block footer %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const checkbox = document.getElementById('id_agreement');
            const submitButton = document.querySelector('button[type="submit"]');

            checkbox.addEventListener('change', function() {
                if (checkbox.checked) {
                    submitButton.disabled = false;
                    submitButton.classList.remove('btn-disabled');
                    submitButton.classList.add('btn-danger');
                } else {
                    submitButton.disabled = true;
                    submitButton.classList.add('btn-disabled');
                    submitButton.classList.remove('btn-danger');
                }
            });
        });
        </script>
    {% endblock footer %}
{% endif %}
