{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <h3>
            Create a cron<span class="text-gray-500">tainer</span>credentials
        </h3>
        {{ form.errors }}
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
            <div>
                {{ form.name|add_label_class:"block p-1" }}
                {{ form.name|add_class:"rounded-md w-full border-gray-300" }}
            </div>
            <div>
                {{ form.username|add_label_class:"block p-1" }}
                {{ form.username|add_class:"rounded-md w-full border-gray-300" }}
            </div>
            <div>
                {{ form.password|add_label_class:"block p-1" }}
                {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
            </div>
            <div>
                {{ form.category|add_label_class:"block p-1" }}
                {{ form.category|add_class:"rounded-md w-full border-gray-300" }}
            </div>
        </div>
        <div class="text-right">
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Save
            </button>
        </div>
    </form>
{% endblock %}
