{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <h3>Credentials :: Create</h3>
    <div class="grid gap-4 xl:grid-cols-4 md:grid-cols-3 max-w-2xl grid-cols-ga">
        <div class="">
            <a href="?category=github"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg {% if request.GET.category == 'github' %}bg-gray-100 border{% endif %} dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <i class="fab fa-github"></i>
                <span class="flex-1 ms-3 whitespace-nowrap">GitHub</span>
            </a>
        </div>
        <div class="">
            <a href="?category=dockerhub"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg {% if request.GET.category == 'dockerhub' %}bg-gray-100 border{% endif %} dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <i class="fab fa-docker"></i>
                <span class="flex-1 ms-3 whitespace-nowrap">DockerHub</span>
            </a>
        </div>
        <div>
            <a href="?category=gitlab"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg {% if request.GET.category == 'gitlab' %}bg-gray-100 border{% endif %} dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <i class="fab fa-gitlab"></i>
                <span class="flex-1 ms-3 whitespace-nowrap">GitLab</span>
            </a>
        </div>
        <div>
            <a href="?category=git"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg {% if request.GET.category == 'git' %}bg-gray-100 border{% endif %} dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <i class="fas fa-code-branch"></i>
                <span class="flex-1 ms-3 whitespace-nowrap">Generic Git</span>
            </a>
        </div>
        <div>
            <a href="?category=ecr"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg {% if request.GET.category == 'ecr' %}bg-gray-100 border{% endif %} dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <i class="fab fa-aws"></i>
                <span class="flex-1 ms-3 whitespace-nowrap">AWS ECR</span>
            </a>
        </div>
    </div>
    {% if request.GET.category %}
        <div>
            <form action="." method="POST">
                <div class="max-w-2xl">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="">
                        <div>
                            {{ form.name|add_label_class:"block p-1" }}
                            {{ form.name|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.name.errors }}</span>
                        </div>
                    </div>
                    {% if request.GET.category == "github" %}
                        <div>
                            <label class="block p-1" for="id_password">Token:</label>
                            {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.password.errors }}</span>
                        </div>
                    {% endif %}
                    {% if request.GET.category == "dockerhub" or request.GET.category == "git" %}
                        <div>
                            {{ form.username|add_label_class:"block p-1" }}
                            {{ form.username|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.username.errors }}</span>
                        </div>
                        <div>
                            {{ form.password|add_label_class:"block p-1" }}
                            {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.password.errors }}</span>
                        </div>
                    {% endif %}
                    {% if request.GET.category == "ecr" %}
                        <div>
                            <label class="block p-1" for="id_password">aws_access_key_id</label>
                            {{ form.username|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.username.errors }}</span>
                        </div>
                        <div>
                            <label class="block p-1" for="id_password">aws_secret_access_key</label>
                            {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.password.errors }}</span>
                        </div>
                    {% endif %}
                    <div class="text-right mt-5">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
