{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <h3>
        Credentials ::
        {% if credential %}
            Update
        {% else %}
            Create
        {% endif %}
    </h3>
    <b>Select a source provider:</b>
    <div class="grid gap-4 xl:grid-cols-4 md:grid-cols-3 max-w-2xl grid-cols-ga">
        <div class="">
            <a href="?category=2"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg border {% if request.GET.category == '2' %}bg-gray-200{% endif %} hover:bg-gray-100 hover:border dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <span class="mdi mdi-github"></span>
                <span class="flex-1 ms-3 whitespace-nowrap">GitHub</span>
            </a>
        </div>
        <div class="">
            <a href="?category=1"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg border {% if request.GET.category == '1' %}bg-gray-200{% endif %} hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <span class="mdi mdi-docker"></span>
                <span class="flex-1 ms-3 whitespace-nowrap">DockerHub</span>
            </a>
        </div>
        <div>
            <a href="?category=4"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg border {% if request.GET.category == '4' %}bg-gray-200{% endif %} hover:bg-gray-100  dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <span class="mdi mdi-gitlab"></span>
                <span class="flex-1 ms-3 whitespace-nowrap">GitLab</span>
            </a>
        </div>
        <div>
            <a href="?category=98"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg border {% if request.GET.category == '98' %}bg-gray-200{% endif %} hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <span class="mdi mdi-source-branch"></span>
                <span class="flex-1 ms-3 whitespace-nowrap">Generic Git</span>
            </a>
        </div>
        <div>
            <a href="?category=3"
               class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg border {% if request.GET.category == '3' %}bg-gray-200{% endif %} hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <span class="mdi mdi-aws"></span>
                <span class="flex-1 ms-3 whitespace-nowrap">AWS ECR</span>
            </a>
        </div>
    </div>
    {% if request.GET.category %}
        <div>
            <form action="{% url 'credential-create' %}?category={{ request.GET.category }}"
                  method="POST">
                <div class="max-w-2xl">
                    {% csrf_token %}
                    <input type="hidden" name="category" value="{{ request.GET.category }}" />
                    <div class="">
                        <div>
                            {{ form.name|add_label_class:"block p-1" }}
                            {{ form.name|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.name.errors }}</span>
                        </div>
                    </div>
                    {% if request.GET.category == "2" or request.GET.category == "4" %}
                        <div>
                            <label class="block p-1" for="id_password">Token:</label>
                            {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.password.errors }}</span>
                        </div>
                    {% endif %}
                    {% if request.GET.category == "1" or request.GET.category == "98" %}
                        <div>
                            {{ form.username|add_label_class:"block p-1" }}
                            {{ form.username|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.username.errors }}</span>
                        </div>
                        <div>
                            {{ form.password|add_label_class:"block p-1" }}
                            {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.password.errors }}</span>
                        </div>
                    {% endif %}
                    {% if request.GET.category == "3" %}
                        <div>
                            <label class="block p-1" for="id_password">aws_access_key_id</label>
                            {{ form.username|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.username.errors }}</span>
                        </div>
                        <div>
                            <label class="block p-1" for="id_password">aws_secret_access_key</label>
                            {{ form.password|add_class:"rounded-md w-full border-gray-300" }}
                            <span class="text-red-500 text-sm">{{ form.password.errors }}</span>
                        </div>
                    {% endif %}
                    <div class="text-right mt-5">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
