{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <h3>Credentials :: Remove</h3>
    <form action="." method="post">
        {% csrf_token %}
        <p>
            Remove credential <b>{{ object.name }}</b>
        </p>
        {% if related_schedules %}
            <p>This credential is used in the following schedules:</p>
            <ul class="divide-y">
                {% for schedule in related_schedules %}
                    <li class="w-1/2 {% if not forloop.first %}pt-2.5{% endif %}">{{ schedule.name }}</li>
                {% endfor %}
            </ul>
            <div class="mb-2">
                {{ form.agreement|add_class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" }}
                {{ form.agreement.label }}
            </div>
        {% endif %}
        <button type="submit"
                {% if related_schedules %} disabled class="text-white bg-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-600 focus:outline-none" {% else %} class="text-white bg-red-400 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" {% endif %}>
            Confirm
        </button>
    </form>
{% endblock %}

{% if related_schedules %}
    {% block footer %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const checkbox = document.getElementById('id_agreement');
            const submitButton = document.querySelector('button[type="submit"]');
    
            checkbox.addEventListener('change', function() {
                if (checkbox.checked) {
                    submitButton.disabled = false;
                    submitButton.classList.remove('bg-gray-400', 'dark:bg-gray-600');
                    submitButton.classList.add('bg-red-400', 'hover:bg-red-800', 'dark:bg-blue-600', 'dark:hover:bg-blue-700');
                } else {
                    submitButton.disabled = true;
                    submitButton.classList.add('bg-gray-400', 'dark:bg-gray-600');
                    submitButton.classList.remove('bg-red-400', 'hover:bg-red-800', 'dark:bg-blue-600', 'dark:hover:bg-blue-700');
                }
            });
        });
        </script>
    {% endblock footer %}
{% endif %}