{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <h3>
        Node ::
        {% if node %}
            Update
        {% else %}
            Create
        {% endif %}
    </h3>
    <div>
        <form action="{% url 'node-create' %}"
              method="POST">
            <div class="max-w-2xl">
                {% csrf_token %}
                <div>
                    {{ form.name|add_label_class:"block p-1" }}
                    {{ form.name|add_class:"rounded-md w-full border-gray-300" }}
                    <span class="text-red-500 text-sm">{{ form.name.errors }}</span>
                </div>
                <div class="flex space-x-2">
                    <div class="flex-auto">
                        {{ form.host|add_label_class:"block p-1" }}
                        {{ form.host|add_class:"rounded-md w-full border-gray-300" }}
                        <span class="text-red-500 text-sm">{{ form.host.errors }}</span>
                    </div>
                    <div class="flex-initial w-24">
                        {{ form.port|add_label_class:"block p-1" }}
                        {{ form.port|add_class:"rounded-md w-full border-gray-300" }}
                        <span class="text-red-500 text-sm">{{ form.port.errors }}</span>
                    </div>
                    <div class="flex-initial w-24 ">
                        <div class="pt-10">
                            {{ form.use_ssh|add_class:"rounded" }} Use SSH
                        </div>
                        <p class="mt-2 text-gray-600 text-sm">{{ form.use_ssh.help_text }}</p>
                    </div>
                </div>
                <div>
                    {{ form.secret|add_label_class:"block p-1" }}
                    {{ form.secret|add_class:"rounded-md w-full border-gray-300" }}
                    <span class="text-red-500 text-sm">{{ form.secret.errors }}</span>
                </div>
                <div class="text-right mt-5">
                    <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
