{% extends 'core/base2.html' %}
{% load widget_tweaks %}
{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <h3>
         Schedules</span> :: Create
        </h3>
        {{ form.non_field_errors }}
        <div class="max-w-2xl">
            <div>
                {{ form.name|add_label_class:"block p-1" }}
                {{ form.name|add_class:"rounded-md w-full border-gray-300"|add_error_class:"text-red-400" }}
                <span class="text-red-500 text-sm">{{ form.name.errors }}</span>
            </div>
            <div>
                {{ form.cron_rule|add_label_class:"block p-1" }}
                {{ form.cron_rule|add_class:"rounded-md w-full border-gray-300"|add_error_class:"text-red-400" }}
                <span class="text-red-500 text-sm">{{ form.cron_rule.errors }}</span>
            </div>
            <div>
                {{ form.image|add_label_class:"block p-1" }}
                {{ form.image|add_class:"rounded-md w-full border-gray-300" }}
            </div>
            <div>
                {{ form.credential|add_label_class:"block p-1" }}
                {{ form.credential|add_class:"rounded-md w-full border-gray-300" }}
            </div>
            <div>
                {{ form.cmd|add_label_class:"block p-1" }}
                {{ form.cmd|add_class:"rounded-md w-full border-gray-300" }}
            </div>
            <div class="flex">
                <div class="me-2">
                    {{ form.cpu|add_label_class:"block p-1" }}
                    {{ form.cpu|add_class:"rounded-md w-full border-gray-300" }}
                </div>
                <div class="ms-2">
                    {{ form.memory|add_label_class:"block p-1" }}
                    {{ form.memory|add_class:"rounded-md w-full border-gray-300" }}
                </div>
            </div>
            <div>
                {{ form.active|add_class:"rounded" }} Active
                <p class="mt-2 text-gray-600 text-sm">{{ form.active.help_text }}</p>
            </div>
            <div>
                {{ form.singleton|add_class:"rounded" }} Singleton
                <p class="mt-2 text-gray-600 text-sm">{{ form.singleton.help_text }}</p>
            </div>
        </div>
        <div class="text-right">
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Save
            </button>
        </div>
    </form>
{% endblock %}
